// Add here all your customized variables

$g-font-primary: "Rubik",
Helvetica,
Arial,
sans-serif !default;
$g-font-secondary: "Roboto Slab",
Helvetica,
Arial,
sans-serif !default;

$g-color-main: #d2ccc5 !default;

$g-color-primary: #A10F2B;
$g-color-secondary: #B2AC85;

$g-color-white: rgba(250, 250, 245, 0.86);
